lldp run


{% if mycampervlan %}
no ip access-list extended camper_v4_in
ip access-list extended camper_v4_in
 permit ip {{ mycampervlan["ipv4-subnet"].network }} {{ mycampervlan["ipv4-subnet"].hostmask }} any
 permit udp any any eq 67
 permit udp any any eq 68
{% if "C2950" not in switch["Model"] -%}
 deny   ip any any log-input
{% else %}
{# fix the access list here #}
  deny ip any any
{% endif %}

{% if "C3560" not in switch["Model"] -%}
no ipv6 access-list camper_v6_in
ipv6 access-list camper_v6_in
! permit ipv6 {{ mycampervlan["ipv6-subnet"] }} any
! permit udp any any eq 546
! permit udp any any eq 547
! deny ipv6 any any log-input
 permit ipv6 any any
{%- endif %}
{% endif %}

no ip access-list extended artnetv4_in
ip access-list extended artnetv4_in
  permit ip 192.168.0.0 0.0.3.255 any
 permit udp any any eq 546
 permit udp any any eq 547
{% if "C2950" not in switch["Model"] -%}
  deny ip any any log-input
{% else %}
{# fix the access list here #}
! hello 2950 fixes here
  deny ip any any
{%- endif %}


{% for link in switch["Links"] %}

{% if link["Dir"] == "up" %}
! {{ link["Dir"] }}link to {{ link["To"] }}
{% if "SWDIST" in link["To"] %}

interface Port-channel1
 spanning-tree portfast trunk

{% endif %}
{% endif %}{# Dir == up #}

{% endfor %}
