boot console speed 9600

environment fan-speed auto

hostname {{ switch["Hostname"] }}
ip domain-name emf.camp

snmp-server community {{ config.get("switchconfig", "community") }} RO 61
snmp-server location EMF
snmp-server contact EMF NOC

spanning-tree mode rstp

aaa authorization exec default local
aaa authorization commands all default local
no aaa root


{% for user in users %}
username {{user["Username"]}} role network-admin privilege 15 secret 5 {{ user["IOS password"] }}
{% if "SSH key" in user and user['SSH key'] != "" %}
username {{user["Username"]}} sshkey {{ user["SSH key"] }}
{% endif %}
{%- endfor %}

no ip routing
lldp run

{% for vlan in vlans|sort %}
vlan {{ vlans[vlan]['vlan'] }}
 {% if "name" in vlans[vlan] and vlans[vlan]["name"] != "" %}
 name {{ vlans[vlan]["name"] }}
 {% endif %}
{%- endfor %}
exit

ip route 0.0.0.0/0 151.216.132.1
interface Vlan132
 ip address {{ switch["Mgmt-IP"] }} 255.255.255.128

!Hardcoded artnet to CPU hack
interface vlan2001
event-handler boot-up-script
   trigger on-intf Vlan2001 operstatus
   action bash /mnt/flash/artnet-bridge.sh


{% if switch["Port-Prefix"]%}
{% for port in switch["camper"] %}
interface {{ switch["Port-Prefix"] }}{{ port }}
 description camper port
 switchport mode access
 switchport access vlan {{ switch["Camper-VLAN"] }}
 ip access-group camper_v4_in in
 lldp transmit
 lldp receive
 spanning-tree portfast
 spanning-tree bpdufilter disable
 spanning-tree bpduguard enable
 switchport port-security
 switchport port-security maximum 64
 load-interval 30
 mtu 9214
 no shutdown
{% endfor %}
{% endif %}

{% if switch["artnet"] %}
{% for anetp in switch["artnet"] %}
interface {{ switch["Port-Prefix"] }}{{anetp}}
 description artnet port
 switchport mode access
 switchport access vlan 2001
 ip access-group artnetv4_in in
 lldp transmit
 lldp receive
 spanning-tree portfast
 spanning-tree bpdufilter disable
 spanning-tree bpduguard enable
 switchport port-security
 switchport port-security maximum 1
 load-interval 30
 mtu 9214
 no shutdown
{% endfor %}
{% endif %}

{% if switch["voip"] %}
{% for voipp in switch["voip"] %}
interface {{ switch["Port-Prefix"] }}{{voipp}}
 description voip port
 switchport mode access
 switchport access vlan 2000
 lldp transmit
 lldp receive
 spanning-tree portfast
 spanning-tree bpdufilter disable
 spanning-tree bpduguard enable
 switchport port-security
 switchport port-security maximum 5
 load-interval 30
 mtu 9214
 no shutdown

{% endfor %}
{% endif %}


{% set downPortChannel = 2 %}

{% for link in switch["Links"] %}

{% if link["Dir"] == "up" %}
! {{ link["Dir"] }}link to {{ link["To"] }}

{% for port in link["Ports"] %}

interface {{ port[0] }}
 description Uplink to {{ link["To"] }} port {{ port[1] }}
 channel-group 1 mode active
 load-interval 30
 lldp receive
 lldp transmit
 mtu 9214
 no shutdown

{% endfor %}

interface Port-channel1
 description Uplink to {{ link["To"] }}
 switchport mode trunk
 switchport trunk allowed vlan {{ sitewide_vlans }}{% for v in switch["Uplink Vlans"] %},{{ v }}{% endfor %}
 load-interval 30
 mtu 9214
 no shutdown

{% endif %}{# Dir == up #}

{% if link["Dir"] == "down" %}
! {{ link["Dir"] }}link to {{ link["To"] }}

{% for port in link["Ports"] %}

interface {{ port[0] }}
 description Downlink to {{ link["To"] }} port {{ port[1] }}
 channel-group {{ downPortChannel }} mode active
 load-interval 30
 lldp receive
 lldp transmit
 mtu 9214
 no shutdown

{% endfor %}

interface Port-channel{{ downPortChannel }}
 description Downlink to {{ link["To"] }}
 switchport mode trunk
 switchport trunk allowed vlan {{ sitewide_vlans }}{% for v in uplink_vlans[link["To"]] %},{{ v }}{% endfor %}
 load-interval 30
 mtu 9214
 no shutdown

{% set downPortChannel = downPortChannel + 1 %}

{% endif %}
{% endfor %}

errdisable recovery cause arp-inspection
errdisable recovery cause hitless-reload-down
errdisable recovery cause link-flap
errdisable recovery cause loopprotectguard
errdisable recovery cause no-internal-vlan
errdisable recovery cause portchannelguard
errdisable recovery cause portsec
errdisable recovery cause stuck-queue
errdisable recovery cause tapagg
errdisable recovery cause uplink-failure-detection
errdisable recovery cause xcvr-unsupported
errdisable recovery interval 300


! ssh ! TODO
no ip access-list standard 22
ip access-list standard 22
 permit host 78.158.92.196
 permit host 77.73.148.52
 permit host 91.209.244.43
 permit 151.216.134.0 0.0.1.255
 permit 78.158.87.0 0.0.0.63
 deny any log

! ntp ! TODO
no ip access-list standard 23
ip access-list standard 23
 permit host 78.158.87.11
 permit host 78.158.87.12
 deny any log

! snmp
no ip access-list standard 61
ip access-list standard 61
 permit 151.216.134.0 0.0.1.255
 permit 78.158.87.0 0.0.0.63
 deny any log

! deny all
no ip access-list standard 99
ip access-list standard 99
 deny any log

no ip access-list extended artnetv4_in
ip access-list extended artnetv4_in
  deny udp any eq bootps any
  deny udp any any eq bootpc
  permit ip any any

{% if mycampervlan %}
no ip access-list extended camper_v4_in
ip access-list extended camper_v4_in
  deny udp any eq bootps any
  deny udp any any eq bootpc
  permit ip any any
{% endif %}


banner motd
                     __,--'\
               __,--'    :. \.
          _,--'              \`.
         /|\       `          \ `.
        / | \        `:        \  `/
       / '|  \        `:.       \
      / , |   \ www.emfcamp.org  \
     /    |:   \              `:. \
    /| '  |     \ :.           _,-'`.
  \' |,  / \   ` \ `:.     _,-'_|    `/
     '._;   \ .   \   `_,-'_,-'
   \'    `- .\_   |\,-'_,-'
               `--|_,`'     $(hostname)
EOF

ntp source Vlan132
! TODO
ntp server 78.158.87.11
! TODO
ntp server 78.158.87.12

! TODO
logging host 78.158.87.14
logging source-interface Vlan132
