{{ switch["Hostname"] }}

Management: {{ switch["Mgmt-IP"] }}
{% if switch["Model"] %}Model: {{ switch["Model"] }}{%- endif %}
{% if switch["Serial"] %}Serial: {{ switch["Serial"] }}{%- endif %}
{% if switch["Camper-VLAN"] %}
Campers: {{ mycampervlan["ipv4-subnet"] }}
Campers (VLAN {{ switch["Camper-VLAN"] }}): {{ switch["Port-Prefix"] }}{{ switch["Camper-Lo"] }} - {{ switch["Camper-Hi"] }}
{%- endif %}
{%- if switch["voip"] %}
VoIP (VLAN 2000): {{ switch["Port-Prefix"] }}{{ switch["Voip-Lo"] }}{% if switch["Voip-Lo"]|int < switch["Voip-Hi"]|int %} - {{ switch["Voip-Hi"] }}{% endif %}
{%- endif %}
{%- if switch["artnet"] %}
ArtNet (VLAN 2001): {{ switch["Port-Prefix"] }}{{ switch["Artnet-Lo"] }}{% if switch["Artnet-Lo"]|int < switch["Artnet-Hi"]|int %} - {{ switch["Artnet-Hi"] }}{% endif %}
{%- endif %}

{%- if not switch["Type"].endswith("-core") %}
{% for link in switch["Links"] %}
{%- if link["Dir"] == "up" %}
Uplink to {{ link["To"] }}:{% for port in link["Ports"] %} {{ port[0] }}{%- endfor %}
{%- endif %}
{%- if link["Dir"] == "down" %}
Downlink to {{ link["To"] }}:{% for port in link["Ports"] %} {{ port[0] }}{%- endfor %}
{%- endif %}
{%- endfor %}
{%- endif %}
